.image{
    width: 300px;
    height: 300px;
  }
  h3{
    width:60%;
  line-height:4.5rem;
  font-size: 3rem;
  font-weight: 700;
  }
  .contain{
   padding: 4rem 4rem;
  }
  .details{
    padding: 4rem;
  }
  .btn-warning{
    background-color: #C95827 !important;
    outline: none !important;
    border: none !important;
  }