*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:"Poppins","pacifico"serif;

}
body{
    background-color:#3d1442;
}
.wrapper{
    width:400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 40%;
}
.container{
    width:150%;
    background-color:#f020cd;
    padding:70px 60px;
    box-shadow:0 80px 110px rgba(15, 13, 15, 0.5);
    position:relative;
    border-radius: 8px;
    text-align:center;
}
.container:after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#070606;
    z-index: -1;
    top:-10%;
    left: 10%;
}
.container p{
    color: rgb(26, 56, 46);
    line-height: 2;
    font-size: 18px;
}
.container h3{
    color: azure;
    margin: 20px 0 60px 0 ;
    font-weight: 600;
    text-transform: capitalize;
}
.container button {
    background-color: rgb(27, 136, 136);
    border: none;
    padding-left: 30px 70px;
    border-radius:  5px;
    font-size: 18px;
    font-weight: 600;
    color:rgb(85, 32, 81);
    content:pointer;
}

